services:
  backend:
    build:
      context: ./backend  
    container_name: effective-backend
    expose:
      - "8080"
    networks:
      - app_net
    restart: unless-stopped
  nginx:
    image: nginx:1.26-alpine
    container_name: effective-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro  
    depends_on:
      - backend
    networks:
      - app_net
    restart: unless-stopped
networks:
  app_net:
    name: effective-net

